.row {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
}

/* column-size */
.small-up-2 > .column,
.small-up-2 > .columns {
  flex: 0 0 50%;
  max-width: 50%;
}

@media print, screen and (min-width: 40em) {
  .medium-up-3 > .column,
  .medium-up-3 > .columns {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .medium-up-3 > .cell {
    width: 33.3333333333%;
  }
}

@media print, screen and (min-width: 64em) {
  .large-up-5 > .column,
  .large-up-5 > .columns {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
