.image-item img {
  width: 100%;
}

.image-item__picture > :hover {
  cursor: pointer;
}

.image-item__title {
  margin-top: 0.75rem /* 12px */;
  font-family: 'Helvetica';
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  margin-bottom: 0.5rem /* 8px */;
}

.column-block {
  margin-bottom: 1.3333333333rem;
}

.column-block > :last-child {
  margin-bottom: 0;
}

/* column */
.column,
.columns {
  flex: 1 1 0px;
  padding-right: 0.6666666667rem;
  padding-left: 0.6666666667rem;
  min-width: 0;
}

@media print, screen and (min-width: 40em) {
  .column-block {
    margin-bottom: 2rem;
  }

  .column,
  .columns {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
